
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

                                /* General styles */

h1,h2,h3,ul,li,p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  --secondaryColor:orange;
}

body{
  font-size: 125%;
  font-family: 'Roboto Slab', serif;
  background-color:black;
  color: silver;
}

.wrapper{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

                              /* Header styles */
                             
header nav {
  display: flex;
  justify-content: center;
  min-height: 4rem;
  align-items: center;  
}

.scrolled{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #434343;
  left: 0;
  z-index: 1;
}

header nav ul{
  display: flex;
  gap: 2rem;
}

.hover{
  color: var(--secondaryColor);
  font-size: 1.5rem;
}

header a:active,
header a:hover,
header a:focus{
  color: var(--secondaryColor);
  font-size: 1.5rem;
}

@keyframes typeItIn{
  0%{width: 0%}
  100%{width: 50%}
}

h1{
  overflow: hidden;
  font-size: 5rem;
  font-family: 'Ruda', sans-serif;
  animation: typeItIn 1s steps(30,end);
  white-space: nowrap;
}


strong{
  display: block;
  font-size: 2rem;
  text-transform: uppercase; 
}

.heroContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 4rem);
  flex-wrap: wrap;
  margin: 2rem;
  gap: 2rem;
}


.heroImage img{
  height: 40rem;
  object-fit: contain;
}


                    /* hamburger menu  */

.menuBtn{
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}

.menuBtnBurger{
  width: 2.5rem;
  height: .3rem;
  background-color: white;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  position: absolute;
  display: none;
}

.menuBtnBurger::before,
.menuBtnBurger::after{
  content: '';
  width:2.5rem ;
  height:.3rem;
  background-color: white;
  border-radius: 50px;
  position: absolute;
}

.menuBtnBurger::before{
  transform: translateY(-10px);
}

.menuBtnBurger::after{
  transform: translateY(10px);
}

/* Animation  */

.menuBtn.open .menuBtnBurger{
  transform: translateX(-70px);
  background: transparent;
}


.menuBtn.open .menuBtnBurger::before{
  transform: rotate(45deg) translate(50px, -50px);
}

.menuBtn.open .menuBtnBurger::after{
  transform: rotate(-45deg) translate(50px, 50px);
}

                          /* About me section */

.aboutMe{
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid var(--secondaryColor);
  padding: 2rem;
  line-height: 1.5;
}

.aboutMe h2{
  font-family: 'Ruda', sans-serif;
  font-size: 3rem;
}

.aboutMe article{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  
}
.techStack {
  display: flex;
  gap: 2rem;
  font-size: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

                                  /* Portfolio section styles */
.portfolio{
  color: black;
}

.listOfProjects{
display: flex;
flex-wrap: wrap;
gap: 2rem;
margin-top: 10rem;
font-size: 2rem;
}

.listOfProjects li{
  width: calc(50% - 2rem);
  background-color: var(--secondaryColor);
  position: relative;
  padding: 1rem;
}
 
.listOfProjects img{
  height: 500px;
  object-fit: cover;
}

.technologyUsed{
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.projectLinks{
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.projectDiscription{
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: var(--secondaryColor);
  opacity: 0.9;
  font-size: 1.5rem;
  line-height: 2;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.listOfProjects li:hover .projectDiscription,
.listOfProjects li:active .projectDiscription{
  visibility: visible;
}


                           /* contact me styles */

.contactMe{
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
  position: relative;
  gap: 2rem;
}

.contactMe span{
  color: var(--secondaryColor);
}
/* this class is removed by js to show the form after h3 is clicked */
.hiddenForm{
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form{
  background-color: #434343;
  color: black;
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  
}

.formElement{
  border-radius: 50px;
  min-height: 3rem;
  text-align: center;
  width: 50vw;
  border: 2px solid var(--secondaryColor);
  color: black;

}

form textarea{
  min-height: 6rem;
  resize: none;
}

form button:nth-child(1){
  display: inline-block;
  width: 8rem;
  background-color: var(--secondaryColor);
  border-radius: 50px;
}

form button:hover,
form button:focus,
form button:active{
  border-radius: 0;
  font-weight: bolder;
}

.closeform{
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 2rem;
  
}

/* footer styles */

footer{
  text-align: center;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  min-height: 1rem;
  justify-content: center;
  align-content: flex-end;
}

footer nav ul{
  display: flex;
  gap: 1rem;
  justify-content: center;
}


/* Media queries */

/* Portrait tablet and small desktops */
@media (max-width: 1050px) {
  h1{
    font-size: 4rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 910px) {
  .heroContent{
    justify-content: center;
  }
  h1{
    animation: none;
    
  }
  .heroImage img{
    height: 30rem;
  }
}

/* Landscape phones and down */
@media (max-width: 820px) {
  .listOfProjects{
    flex-direction: column; 
  }
  .listOfProjects li{
    width: 100%;
  }
   
  header nav ul{
    flex-direction: column;
    position: absolute;
    top: 6rem;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background-color: grey;
    gap: 2rem;
    visibility: hidden;
    color: white;
  }

  .menuBtnBurger{
    display: block;
  }
  
}

@media (max-width: 600px){
  h1{
   overflow: visible;
   white-space: normal;
   text-align: center;
  } 
  header img{
    height: 20rem;
  }
}